PORT=5000
NODE_ENV=development
DATABASE_URL="mysql://root:password@localhost:3306/wedding_manager"
JWT_SECRET=supersecretjwtkey
JWT_REFRESH_SECRET=supersecretrefreshkey
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
